.brainhub-workers__container {
  text-align: center; }

.brainhub-workers__container__team-members-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }

.brainhub-workers__container__team-member > a {
  text-decoration: none;
  color: black; }
